<% provide(:title, "About") %>
<h1>About RateMyAdvisor</h1>
<br>
<p>The advising relationship is a quintessential part of the undergraduate Princeton experience, but finding that perfect match between students and professors is currently a guideless and often confusing process. RateMyAdvisor is a web based application that was borne out of the shared anxieties, joys, and frustrations that students have expressed over their advising experiences at Princeton. It aims to make the matching process easier and more informed for students by providing a platform on which they can share personal feedback on their past advisors and read reviews of potential advisors written by their peers.</p>

<iframe width="420" height="315"
src="https://www.youtube.com/watch?v=9Jm3YVjUDIQ">
</iframe>